<div class="center" align="center">
  <%= flash[:error] %>
  <%= form_for @user, url: '/login' do |f| %>
    <div class="form-group">
      <%= f.label :user_name, "User Name:"%>
      <%= f.text_field :user_name %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.submit "Log In" %>
      <br><br><button type="button" class="loginBtn loginBtn--facebook"><%= link_to "Log In with Facebook", '/auth/facebook' %></button>
      <br><br><button type="button" class="loginBtn loginBtn--google"><%= link_to "Log In with Google", '/auth/google_oauth2' %></button>
    <% end %>
  </div>
