<h1>Log In Here</h1>

<%= flash[:error] %>

<%= form_for @user, url: '/login' do |f| %>

  <%= f.label :user_name %>
  <%= f.text_field :user_name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log In" %>

<% end %>
