<div align="center">
  <p>You have <%= @user.wines.count %> bottles of wine in your collection and
  <%= @user.wines.is_favorite.count %> favorites.</p>
  <p>The average rating for all wines is <%= @user.wines.average_rating.round(2) %>.</p>

  <p>Most of the wine in your collection is <%= @user.wines.most_bottles.downcase %> and
  <%= @user.wines.top_rated.downcase %> wines are your highest rated on average.</p>
  <p>The lists below are the top three most frequently selected aromas and tasting terms for wines that you rated highly, or marked as a favorite.</p>
  <p>When you see wines reviewed or described with these terms, know that you're more likely to enjoy them!</p>
</div>

<div class="columns">
  <div class="row">
    <div class="col">
      <div class="inside">
        <dl>
          <dt>Top Aromas:</dt>
          <% @user.wines.top_aromas.each do |aroma| %>
          <dd><%= aroma %></dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="col">
      <div class="inside">
        <dl>
          <dt>Top Tasting Terms:</dt>
          <% @user.wines.top_terms.each do |term| %>
          <dd><%= term %></dd>
          <% end %>
          </dl>
      </div>
    </div>
  </div>
</div>
