<h1>Hello <%= @user.first_name %></h1>

<h3>View cellar (view all wines)</h3>
<ul>
  <% @user.wines.each do |wine| %>

    <li><%= link_to wine.producer, wine_path(wine) %> - <%= wine.wine_name %> - <%= wine.vintage %></li>

  <% end %>
</ul>

<h3>Make a new wine</h3>
<%= link_to "Add another Wine", new_wine_path(@user.id) %>


<h4>Your Favorite wines:</h4>
<% @user.wines.is_favorite.each do |wine| %>
    <p><%= link_to wine.producer, wine_path(wine) %></p>
<% end %>
<ul>
  <li>view insights (scope methods)</li>
  <li>update profile</li>
</ul>

<%=  link_to "Log out", logout_path %>
