<h1>Hello <%= @user.first_name %></h1>

<br><br>
<h4>Your Cellar</h4><br>

<div class="table-responsive">
  <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Producer</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
    </tr>
  </thead>
  <tbody>
    <% @user.wines.each do |wine| %>
    <tr>
      <td><%= link_to wine.producer, wine_path(wine) %></td>
      <td><%= wine.wine_name %></td>
      <td><%= wine.vintage %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<br>
<h4>Your Favorite Wines</h4><br>

<div class="table-responsive">
  <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Producer</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
    </tr>
  </thead>
  <tbody>
    <% @user.wines.is_favorite.each do |wine| %>
    <tr>
      <td><%= link_to wine.producer, wine_path(wine) %></td>
      <td><%= wine.wine_name %></td>
      <td><%= wine.vintage %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<br><br>
<div>
  <button type="button" class="link_button"><%= link_to "Add a new Wine", new_wine_path %></button>
  <button type="button" class="link_button"><%= link_to "Logout", logout_path %></button>

</div>
