<h1>Sign up here</h1>

<%= form_for(@user) do |f| %>
  <%= render partial: 'layouts/errors', locals: {object: @user} %>

  <%= f.label :user_name %>
  <%= f.text_field :user_name, required:true %>

  <%= f.label :email %>
  <%= f.email_field :email, required:true %>

  <%= f.label :password %>
  <%= f.password_field :password, required:true %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, required:true%>

  <%= f.submit %>

<% end %>
