
<div class="container">
  <div class="top-container">
    <h5 align="center"><b>About WINELOG</b></h5>
  </div>
  <br>
  <div align="center">
    <p>WINELOG was created as the Rails portfolio project for the software engineering immersive at Flatiron School.</p>
    <p>Rachel is a Texas based developer looking for opportunities in Austin or Dallas.</p>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="link_button"><%= link_to "GitHub Repository", 'https://github.com/rachelkathleen/wine-log', target:'_blank' %></button>
      <button type="button" class="link_button"><%= link_to "Blog Post", 'https://github.com/rachelkathleen/wine-log', target:'_blank' %></button>
      <button type="button" class="link_button"><%= link_to "Demo", 'https://github.com/rachelkathleen/wine-log', target:'_blank' %></button>
      <button type="button" class="link_button"><%= link_to "LinkedIn", 'https://www.linkedin.com/in/rachelhawa/', target:'_blank' %></button>
      <button type="button" class="link_button"><%= mail_to "rachel.hawa@gmail.com", "Email Me", subject: "WINELOG Feedback" %></button>
    </div>
  </div>
</div>
