<h4 align="center">Glossary of Wine Tasting Terms</h4>

<%= form_tag(glossary_path method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<dl>
  <% @terms.each do |t| %>
  <dt><%= t.term %></dt>
  <dd><%= t.definition %></dd>
    <% end %>
</dl>
