<div class="container">

  <div id="form-messages" class="alert" style="display:none">

  </div>

  <br>
  <%= form_for @wine do |f|%>
  <%= render partial: 'layouts/errors', locals: {object: @wine} %>
  <%= f.hidden_field :country_id%>

  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.label :producer, "Producer:" %>
      <%= f.text_field :producer %>
    </div>
    <div class="col-auto">
      <%= f.label :wine_name, "Wine Name:" %>
      <%= f.text_field :wine_name, placeholder: "or varietal, if none" %>
    </div>
  </div>
  <br>
  <div class="form-row align-items-center ">
    <div class="col-auto">
      <%= f.fields_for :varietal, @wine.build_varietal do |varietal_attr|%>
      <%= varietal_attr.label :name, "Varietal:" %>
      <%= varietal_attr.text_field :varietal_name, {list: "varietal_names"} %>
      <datalist id="varietal_names">
        <% varietal_index.each do |v|%>
        <option value="<%= v.varietal_name %>"></option>
          <% end %>
      </datalist>
    <% end %>
    </div>
    <div class="col-auto">
      <%= f.fields_for :country, @wine.build_country do |country_attr|%>
      <%= country_attr.label :name, "Country:" %>
      <%= country_attr.text_field :country_name, {list: "country_names"} %>
      <datalist id="country_names">
        <% country_index.each do |c|%>
        <option value="<%= c.country_name %>"></option>
          <% end %>
      </datalist>
    <% end %>
    </div>
  </div>
  <br>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.label :vintage, "Vintage:" %>
      <%= f.text_field :vintage %>
    </div>
    <div class="col-auto">
      <%= f.label :rating, "Rating:" %>
      <%= f.text_field :rating, placeholder: "1-10" %>
    </div>
  </div>
  <br>

  <div class="form-row align-items-center">
  <div class="col-auto">
      <%= f.label :wine_type, "Type:" %>
      <%= select_tag :wine_type,
        options_for_select(Wine::WINE_TYPES.map {|t| t}), selected: @wine.wine_type, class: 'chosen-select', multiple: false, include_blank: true%>
      <%= f.select :wine_type, options_for_select(Wine::WINE_TYPES, selected: @wine.wine_type),{class:"custom-select", multiple: false, include_blank: true} %>
    </div>
    <div class="col-auto">
      <%= f.label :price_range, "Price Range:" %>
      <%= f.select :price_range, options_for_select(Wine::PRICE_RANGES, selected: @wine.price_range), {class:"custom-select", multiple: false, include_blank: true} %>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <%= f.label :favorite, "Favorite?" %>
        <%= f.check_box :favorite %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.label :aroma_ids, "Wine Aromas:" %><br>
      <%= select_tag :aroma_ids,
        options_for_select(aroma_index.map {|aroma| [aroma.aroma_name, aroma.id]}), class: 'chosen-select', multiple: true %>
      <%= f.collection_select :aroma_ids, aroma_index, :id, :aroma_name,  {prompt: " "}, { multiple: true, class:"custom-select", size:"10"}%><br>

      <small id="HelpBlock" class="form-text text-muted">
    <%= link_to "Aromas", aromas_path, class:'black-link', target:'_blank' %> refer to what you can smell in a wine - you can choose one or many.</small>
    <small id="HelpBlock" class="form-text text-muted">   <br></small>
    </div>
    <div class="col-auto">
      <%= f.label :tasting_term_ids, "Tasting terms:" %><br>
      <%= f.collection_select :tasting_term_ids, term_index, :id, :term,  {prompt: " "}, { multiple: true, class:"custom-select", size:"10"} %><br>

      <small id="HelpBlock" class="form-text text-muted">Tasting terms are used to decribe the taste of a wine, or they way it feels in your mouth.</small>
      <small id="HelpBlock" class="form-text text-muted">Look at the <%= link_to "glossary", glossary_path, class:'black-link', target:'_blank' %> to learn what they mean.</small>
    </div>
  </div>
  <br>
  <br>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.label :picture, "Add a picture:"%><br>
      <%= f.file_field :picture %><br><br>
      <%= f.label :notes, "Additional Notes:" %><br>
      <%= f.text_area :notes, {placeholder: "It's good to make note of the color, decanting, food pairing, other varietals (if the wine is a blend) or anything to help you remember your favorites!", cols:"100%", rows:"10"} %>
    </div>
  </div>
  <%= f.submit %>
  <% end %>
</div>

<script>
  jQuery(document).ready(function(){
  	jQuery(".chosen").chosen();
  });
</script>
