<div class="container">
  <br>
  <%= form_for @wine do |f|%>
  <%= render partial: 'layouts/errors', locals: {object: @wine} %>
  <%= f.hidden_field :country_id%>

  <div class="form-row align-items-center">
    <div class="col-6">
      <%= f.label :producer, "Producer:" %>
      <%= f.text_field :producer %>
    </div>
    <div class="col-5">
      <%= f.label :wine_name, "Wine Name:" %>
      <%= f.text_field :wine_name, placeholder: "or varietal, if none" %>
    </div>
  </div>
  <br>
  <div class="form-row align-items-center ">
    <div class="col-6">
      <%= f.fields_for :varietal, @wine.build_varietal do |varietal_attr|%>
      <%= varietal_attr.label :name, "Varietal:" %>
      <%= select_tag :varietal,
        options_for_select(varietal_index.map {|v| [v.varietal_name, v.id]}), selected: @wine.varietal, name: "wine[varietal_attributes][varietal_name]", id: "wine_varietal_attributes_varietal_name", class: 'chosen-select', multiple: false, include_blank: true%>
      <%= varietal_attr.text_field :varietal_name, {list: "varietal_names"} %>
      <datalist id="varietal_names">
        <% varietal_index.each do |v|%>
        <option value="<%= v.varietal_name %>"></option>
          <% end %>
      </datalist>
    <% end %>
    </div>
    <div class="col-5">
      <%= f.fields_for :country, @wine.build_country do |country_attr|%>
      <%= country_attr.label :name, "Country:" %>
      <%= select_tag :country,
        options_for_select(country_index.map {|c| [c.country_name, c.id]}), selected: @wine.country, name: "wine[country_attributes][country_name]", id: "wine_varietal_attributes_varietal_name", class: 'chosen-select', multiple: false, include_blank: true%>
      <%= country_attr.text_field :country_name, {list: "country_names"} %>
      <datalist id="country_names">
        <% country_index.each do |c|%>
        <option value="<%= c.country_name %>"></option>
          <% end %>
      </datalist>
    <% end %>
    </div>
  </div>
  <br>
  <div class="form-row align-items-center">
    <div class="col-6">
      <%= f.label :vintage, "Vintage:" %>
      <%= f.text_field :vintage %>
    </div>
    <div class="col-4">
      <%= f.label :rating, "Rating:" %>
      <%= f.text_field :rating, placeholder: "1-10" %>
    </div>
  <div class="col-2">
    <div class="form-check">
      <%= f.label :favorite, "Favorite?" %>
      <%= f.check_box :favorite %>
    </div>
  </div>
  </div>
  <br>

  <div class="form-row align-items-center">
  <div class="col-6">
      <%= f.label :wine_type, "Type:" %>
      <%= select_tag :wine_type,
        options_for_select(Wine::WINE_TYPES.map {|t| t}), selected: @wine.wine_type, name: "wine[wine_type]", id: "wine_wine_type", class: 'chosen-select', multiple: false, include_blank: true%>
    </div>
    <div class="col-6">
      <%= f.label :price_range, "Price Range:" %>
      <%= select_tag :wine_type,
        options_for_select(Wine::PRICE_RANGES.map {|t| t}), selected: @wine.price_range, name: "wine[price_range]", id: "wine_price_range", class: 'chosen-select', multiple: false, include_blank: true%>

    </div>
  </div>
  <br>
  <br>
  <div class="form-row align-items-center">
    <div class="col-6">
      <%= f.label :aroma_ids, "Wine Aromas:" %><br>
      <%= select_tag "aromas",
        options_for_select(aroma_index.map {|aroma| [aroma.aroma_name, aroma.id]}), name: "wine[aroma_ids][]", id: "wine_aroma_ids", class: 'chosen-select', multiple: true %>
      <small id="HelpBlock" class="form-text text-muted">
    <%= link_to "Aromas", aromas_path, class:'black-link', target:'_blank' %> refer to what you can smell in a wine - you can choose one or many.</small>
    <small id="HelpBlock" class="form-text text-muted">   <br></small>
    </div>
    <div class="col-6">
      <%= f.label :tasting_term_ids, "Tasting terms:" %><br>
      <%= select_tag "terms",
        options_for_select(term_index.map {|t| [t.term, t.id]}), name: "wine[tasting_term_ids][]", id: "tasting_term_ids", class: 'chosen-select', multiple: true %>


      <small id="HelpBlock" class="form-text text-muted">Tasting terms are used to decribe the taste of a wine, or they way it feels in your mouth.</small>
      <small id="HelpBlock" class="form-text text-muted">Look at the <%= link_to "glossary", glossary_path, class:'black-link', target:'_blank' %> to learn what they mean.</small>
    </div>
  </div>
  <br>
  <br>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.label :picture, "Add a picture:"%><br>
      <%= f.file_field :picture %><br><br>
      <%= f.label :notes, "Additional Notes:" %><br>
      <%= f.text_area :notes, {placeholder: "It's good to make note of the color, decanting, food pairing, other varietals (if the wine is a blend) or anything to help you remember your favorites!", cols:"100%", rows:"10"} %>
    </div>
  </div>
  <div id="form-messages" class="alert" style="display:none">

  </div>
  <%= f.submit %>
  <% end %>
</div>

<script>
  jQuery(document).ready(function(){
  	jQuery(".chosen").chosen();
  });
</script>
