
<div class="card" style="width: 80%;" alignment="center">
    <img src="<%= show_image %>" class="card-img-top" style="width:128px;height:128px;" alt="your image">
  <div class="card-body">
    <h5 class="card-title"><%= @wine.producer %> - <%= @wine.wine_name %></h5>
    <p class="card-text"><%= @wine.notes %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Country: <%= @wine.country.country_name %></li>
    <li class="list-group-item">Vintage: <%= @wine.vintage %></li>
    <li class="list-group-item">Type: <%= @wine.wine_type %></li>
    <li class="list-group-item">Price Range: <%= @wine.price_range %></li>
    <li class="list-group-item">Varietal: <%= @wine.varietal.varietal_name %></li>
    <li class="list-group-item">Favorite: <%= @wine.favorite %></li>

  </ul>
  <div class="card-body">
    <a href="<%= wine_seacher_link %>" >Learn more, and find where to buy again</a><br>
    <a href="/wines/<%= @wine.id %>/edit/" class="card-link">Edit this wine</a>
  </div>
</div>

<div>
  Aromas:
  <ul>
    <% @wine.aromas.each do |aroma| %>
    <li><%= aroma.aroma_name %></li>
    <% end %>
  </ul>
  Tasting Terms:
  <ul>
    <% @wine.tasting_terms.each do |term| %>
    <li><%= term.term %></li>
    <% end %>
  </ul>
  <ul>
    <li><%= @wine.producer %></li>
    <li><%= @wine.wine_name %></li>
    <li><%= @wine.vintage %></li>
    <li><%= @wine.varietal.varietal_name %></li>
    <li><%= @wine.country.country_name %></li>
    <li><%= @wine.wine_type %></li>
    <li><%= @wine.rating %></li>
    <li><%= @wine.price_range %></li>
    <li>Organic? <%= @wine.organic %></li>
    <li>Biodynamic? <%= @wine.biodynamic %></li>
    <li>Organic? <%= @wine.favorite %></li>
  </ul>

  <p><%= @wine.notes %></p>

</div>
