<div class="btn-group" role="group">
  <button type="button" class="link_button"><%= link_to "Add a Wine", new_wine_path %></button>
  <button type="button" class="link_button"><%= link_to "Countries", countries_path %></button>
  <button type="button" class="link_button"><%= link_to "Glossary", glossary_path %></button>
  <button type="button" class="link_button"><%= link_to "Aromas", aromas_path %></button>
  <button type="button" class="link_button"><%= link_to "Insights", insights_path %></button>
  <button type="button" class="link_button"><%= link_to "Your Cellar", home_path %></button>
</div>
