<!DOCTYPE html>
<html>
  <head>

    <title>WineLog</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <!-- bootstrap cdn link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <nav class="navbar navbar-dark" style="background-color: #220F24;">
      <a class="navbar-brand" href="/">WineLog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color: #220F24;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if logged_in? %>
            <a class="nav-link" href="/home">Your homepage</a>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aromas">List of Wine Aromas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/glossary">Glossary of Tasting terms</a>
          </li>
          <li class="nav-item">
            <% if logged_in? %>
            <a class="nav-link" href="/countries">List of Wine Producing Countries</a>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <% unless logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/facebook">Log in with Facebook</a>
          </li>
          <% end %>
          <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" data-method="delete" href="/logout">Logout</a>

          </li>
          <% end %>
        </ul>
      </div>
    </nav>


  <body>

    <%= yield %>


  <div class="footer">
<p></p>
  </div>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=327625804519036&autoLogAppEvents=1"></script>
    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
